- content_for :head do
  = stylesheet 'css/account.css'

.row
  .span4.offset4
    %form.form-horizontal{:action=>'/aws', :method=>'post'}
      .control-group
        .controls
          %label AWS Credentials
      .control-group
        %label.control-label Access Key ID
        .controls
          %input{:type=>'text',:name=>'access_key_id',:value=>@user.access_key_id}
      .control-group
        %label.control-label Secret Access Key
        .controls
          %input{:type=>'text',:name=>'secret_access_key',:value=>@user.secret_access_key}
      .control-group
        .controls
          %input.btn.btn-success{:type=>'submit',:value=>'Update'}
