- content_for :head do
  = stylesheet 'css/index.css'

.row
  %form{:method=>'post',:action=>'server'}
    %label.span3.offset3 Servers
    %input.span3.btn-success{:type=>'submit',:value=>'Start',:name=>'start'}
.row
  .span12
    %table.table.table-bordered
      %tr
        %th ID
        %th IP
        %th Status
      - if @user.servers.empty?
        %tr
          %td{:colspan=>3} (No servers)
      - @user.servers.each do |server|
        %form{:method=>'post',:action=>'server'}
          %tr
            %td= server.instance_id
            %td
              %input{:type=>'hidden',:name=>'instance_id',:value=>server.instance_id}
            %td= server.instance.ip_address
            %td= server.status
            %td
              %input.span3.btn-danger{:type=>'submit',:value=>'Stop',:name=>'stop'}
%form{:method=>'post',:action=>'backup'}
  .row
    %label.span3
      Backups:
    %input.span2.btn-success{:type=>'submit',:value=>'Backup',:name=>'backup'}
    %input.span2.btn-warning{:type=>'submit',:value=>'Restore',:name=>'restore'}
    %input.span2.btn-danger{:type=>'submit',:value=>'Delete',:name=>'delete'}
