- content_for :head do
  = stylesheet 'css/login.css'

.row
  .span4.offset4
    %form.form-horizontal{:action=>'/login',:method=>'post'}
      .control-group
        %label.control-label Username
        .controls
          %input{:type=>'text',:name=>'username'}
      .control-group
        %label.control-label Password
        .controls
          %input{:type=>'password',:name=>'password'}
      .control-group
        .controls
          %input.btn.btn-success{:type=>'submit',:value=>'Login'}
